<?xml version="1.0" encoding="utf-8"?> 
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mukke_app.flutter_app">

    <!-- 🔔 Android 13+: Laufzeitrecht für Push-Benachrichtigungen -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 📍 Standort (Geolocator) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MainApplication"
        android:label="flutter_app"
        android:icon="@mipmap/ic_launcher">

        <!-- 🔹 Verhindert automatische Firebase-Initialisierung -->
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_automatic_data_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />

        <!-- 🔹 Entfernt automatische Init-Provider -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
        <provider
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingInitProvider"
            android:authorities="${applicationId}.flutterfirebasemessaginginitprovider"
            tools:node="remove" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Nicht löschen: Wird von Flutter für Plugin-Registrierung benötigt -->
        <meta-data android:name="flutterEmbedding" android:value="2" />

    </application>

    <!-- Berechtigungen für Textverarbeitung -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
